---

    - name: Remove inapropriate packages
      apt:
        name: "{{ bad_pkgs }}"
        state: absent

    - name: Install required packages and useful tools
      apt:
        name: "{{ required_debian_pkgs }}"
        state: latest
        update_cache: true

    - name: Add Docker CE repo key
      apt_key:
        url: "{{ dockerce_debian_repo_gpg }}"
        state: present

    - name: Add Docker CE Debian repo
      apt_repository:
        repo: "deb {{ dockerce_debian_repo_uri }}"
        state: present

    - name: Install Docker CE packages
      apt: pkg={{ item }} state=latest update_cache=true
      with_items:
        - "{{ dockerce_debian_pkgs }}"

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes
