    - include: centos-install.yml
      when: ansible_distribution == 'CentOS'
      tags: docker

    - include: debian-install.yml
      when: ansible_distribution == 'Debian'
      tags: docker

    - include: pip-install.yml
      tags: docker
