---

    - name: Remove unapropriate packages
      apt: pkg={{ item }} state=absent update_cache=true
      with_items:
        - "{{ bad_pkgs }}"

    - name: Install required packages and useful tools
      apt: pkg={{ item }} state=installed update_cache=true
      with_items:
        - "{{ required_ubuntu_pkgs }}"

    - name: Add Docker CE repo key
      apt_key:
        url: "{{ dockerce_ubuntu_repo_gpg }}"
        state: present

    - name: Add Docker CE Ubuntu repo
      apt_repository:
        repo: "deb {{ dockerce_ubuntu_repo_uri }}"
        state: present

    - name: Install Docker CE packages
      apt: pkg={{ item }} state=latest update_cache=true
      with_items:
        - "{{ dockerce_ubuntu_pkgs }}"

    - name: Start and enable Docker service
      service:
        name: docker
        state: started
        enabled: yes
